.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
            "h h "
            "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: #2467b6;
}

.nav {
    grid-area: n;
    background-color: red;
}

.content {
    grid-area: c;
    background-color: aqua;
}

.header img {
    width: 20px;
}

.content img {
    width: 800px;
}